.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quotebox {
  max-width: 400px;
  width: 100%;
  background-color: #ffffff;
  padding: 40px 50px;
  text-align: center;
  height: max-content;
  box-sizing: border-box;
}

.footer {
  max-width: 400px;
  width: 100%;
  text-align: center;
  display: block;
  padding: 10px 50px;
  font-size: 0.8em;
  color: #fff;
  box-sizing: border-box;
}

.text-normal {
  font-size: 0.95em !important;
}
