.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quotebox {
  width: 450px;
  background-color: #ffffff;
  padding: 40px 50px;
  text-align: center;
  height: max-content;
}

.footer {
  width: 450px;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 0.8em;
  color: #fff;
}

.text-normal {
  font-size: 0.95em !important;
}
